.slideshow {
  list-style: none;
  margin: 0;
  padding: 40% 0 0 0;
  overflow: hidden;
  position: relative;
  height: 0;
  border-top: 10px solid #000;
  border-bottom: 10px solid #000;
  background-color: #000;
}

.slideshow .slide {
  position: relative;
  list-style: none;
  width: 80%;
  margin: -40% 0 0 10%;
  padding: 40% 0 0 0;
  left: -100%;
}

.slideshow .slide span {
  display: none;
}

.slideshow .slide a:first-child {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.8+0,0.2+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
  color: #fff;
  text-decoration: none;
  z-index: 1;
  padding: .5em;
  display: none;
}

.slideshow .slide.current-slide:hover a:first-child {
  display: block;
}

.slideshow .slide a:last-child {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.slideshow .slide a:last-child img {
  display: block;
  width: 100%;
  height: auto;
}

.slideshow .slide:nth-child(1) {
  left: 0%;
}

.slideshow .slide:nth-child(2) {
  left: 82%;
}

.slideshow .slide:last-child {
  left: -82%;
}
