body {
  margin: 0;
}

.layout-container {
  background: #eee;
  max-width: 960px;
  margin: 0 auto;
}

.layout-container > header {
  background: #ccc;
  padding: 1em;
}

.layout-container > main {
  background: #ddd;
}

.layout-container > main:after {
  display: block;
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
}

.layout-content {
  float: left;
  background: #fff;
}

.layout-content .content {
  padding: 1em;
}

.layout-sidebar-first,
.layout-sidebar-second {
  float: left;
}

.layout-sidebar-first .content,
.layout-sidebar-second .content {
  padding: 1em;
}

#main .layout-content:first-child:nth-last-child(3) {
  width: 50%;
  margin-left: 25%;
}

#main .layout-content:first-child:nth-last-child(3) ~ .layout-sidebar-first {
  width: 25%;
  margin-left: -75%;
}

#main .layout-content:first-child:nth-last-child(3) ~ .layout-sidebar-second {
  width: 25%;
}

#main .layout-content:first-child:nth-last-child(2) {
  width: 75%;
  margin-left: 25%;
}

#main .layout-content:first-child:nth-last-child(2) ~ .layout-sidebar-first,
#main .layout-content:first-child:nth-last-child(2) ~ .layout-sidebar-second {
  width: 25%;
  margin-left: -100%;
}

@media (max-width: 800px) {

  #main .layout-content:first-child:nth-last-child(3) {
    width: 100%;
    margin-left: 0;
  }

  #main .layout-content:first-child:nth-last-child(3) ~ .layout-sidebar-first {
    width: 100%;
    margin-left: 0;
  }

  #main .layout-content:first-child:nth-last-child(3) ~ .layout-sidebar-second {
    width: 100%;
    margin-left: 0;
  }

  #main .layout-content:first-child:nth-last-child(2) {
    width: 100%;
    margin-left: 0;
  }

  #main .layout-content:first-child:nth-last-child(2) ~ .layout-sidebar-first,
  #main .layout-content:first-child:nth-last-child(2) ~ .layout-sidebar-second {
    width: 100%;
    margin-left: 0;
  }

}


